*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.bg-white{
      background-color: #fafafa;
}

/* -----------header start----------------------- */
.header{
      height: 50px;
      width: 100%;
      box-shadow: #465166;
}
.header ul{
      display: inline;
      line-height: 50px;
}
.header .menu li{
      list-style: none;
      display: inline;
} 
.header .menu li a{
      color: #465166;
      text-decoration: none;
      padding-left: 5%;
      font-size: 1.2em;
      font-weight: 600;
} 
.header .menu li a:hover{
      color: #ed6b00;
}
.header .log{
      margin-left: 12%;
}
.header .log li{
      list-style: none;
      display: inline;
      text-align: center;
      margin-left: 1%;
}
.header .log li i{
      color: #465166;
      padding-left: 5%;
      font-size: 1.5em;
      font-weight: 600;
}
.header .log li button{
      background-color: #0071bc;
      color: #fff;
      padding: auto;
      font-size: 1.2em;
      font-weight: 600;
      border-radius: 7px;
      height: 30px;
      width: 100px;
      border-style: hidden;
}
.header .log li button:hover{
      scale: 1.2;
}
/* -----------------headre end----------------- */
.content{
      height: 87vh;
      width: 100%;
      background-image: url(https://assets.cars24.com/production/c2b-website/240607235537/js/b826677e31b9d490bc0e9ff5b810e87a.png);
      background-size: 100% 100%;
}