.portfolio-header{
  background-color: #002441 !important;
}
.portfolio-header h1{
  color: #ed6b00;
}
.portfolio-header ul li{
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
.portfolio-header ul li a{
  text-decoration: none;
}
.portfolio-header ul li a:hover{
  color: #ed6b00 !important;
  font-weight: 600;
}

/* slider style */

.portfolio-slider{
  background-color: #00ba67 !important;
}
.portfolio-slider .slider-img{
  width: 25%;
  height: 70vh;
}
.portfolio-slider .slider-img img{
  width: 100%;
  height: 100%;
  border-radius: 3%;
}
.slider-info h3{
  color: #002441;
}
.slider-info hr{
  color: #ed6b00 !important;
}
.slider-info p{
  color: #002441;
}


/* portfolio style */

.portfolio{
  background-color: #d7d8da;
}
.portfolio h1{
  color: #002441;
}
.portfolio hr{
  color: #002441;
}

.portfolio p{
  font-weight: 700;
  color: #002441;
}
.portfolio .port-img{
  width: 50%;
  height: 48vh;
}
.port-img img{
  width: 100%;
  height: 100%;
}
.port-img img:hover{
  border: #002441 solid 2px;
  border-radius: 3%;
}

/* About style */
.about{
  background-color: #00ba67;
}
.about .progress{
  height: 30px !important;
}
.about .row p{
  vertical-align: baseline !important;
}
.about .row progress{
  vertical-align: baseline !important;
}

/* Contact style */

.contact .form{
  border-radius: 1% !important;
}

/* DownloadMyCv style */

.cv p{
  color: #002441;
}
.cv p a:hover{
  color: #00ba67 !important;
}
