*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url(https://wallpapers.com/images/hd/abstract-background-6m6cjbifu3zpfv84.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-top: 7%;
}

.main h2{
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
}

.main p{
    text-align: center;
    font-size: 1.4em;
    color: whitesmoke;
    padding-top: 1%;
}

.main svg{
    position: absolute;
    bottom: 0;
}

.item{
    height: 80px;
    width: 90px;
    /* border: 2px solid orangered;
    border-radius: 50%; */
    /* overflow: hidden; */
    background-color: transparent;
    position: absolute;
    border: none;
}

.item img{
    height: 100%;
    width: 100%;
    border-radius: 40%;
    scale: 1.0;
}

.i1{
    left: 20%;
    top: 53%;
}

.i2{
    left: 40%;
    top: 53%;
}

.i3{
    left: 60%;
    top: 65%;
}

.i4{
    left: 80%;
    top: 60%;
}

.item .info{
    font-size: 1em;
    color: black;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.item:hover .info{
    top: 100px;
    opacity: 1;
}